<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="reddit" ng-controller="RedditController">
    <ion-pane>
        <ion-header-bar class="bar-positive">
            <h1 class="title">Funny Reddit</h1>
        </ion-header-bar>
        <ion-content>
            <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="loadNewerStories()">
            </ion-refresher>
            <div class="list">
                <a href="{{story.url}}" target="_blank"
                    class="item item-thumbnail-left"
                    ng-repeat="story in stories track by story.id">
                    <img ng-src="{{story.thumbnail}}" alt="{{story.title}}" ng-if="story.thumbnail.startsWith('http')">
                    <h2 class="story-title ">{{story.title}}</h2>
                    <p>
                        <span am-time-ago="{{story.created_utc | amFromUnix}}"></span>
                        {{story.domain}} - {{story.thumbnail}}
                    </p>
                </a>
            </div>
            <ion-infinite-scroll
                on-infinite="loadOlderStories()"
                distance="1%">
            </ion-infinite-scroll>
        </ion-content>
    </ion-pane>
</body>

</html>
